@import 'src/color';
@import 'src/mixins';

.noteList {
  &Container {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.0625rem 0.125rem 0.25rem $black-transparent;
    margin: 2rem;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0.625rem 1.25rem 2.5rem $black-transparent;
    }
  }
  &Content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  &Topbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
  }
}

@include responsive(lg) {
  .noteList {
    &Content {
      grid-gap: 2rem;
    }
  }
}

@include responsive(sm) {
  .noteList {
    &Content {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }
}

@include responsive(xs) {
  .noteList {
    &Content {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
    }
  }
}
