.modal {
  &Show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  &Hide {
    display: none;
  }
  &Content {
    display: flex;
    flex-direction: column;
  }
  &BtnGroup {
    display: flex;
    flex-direction: row;
  }
}
