@import './src/color';

.toggle {
  position: relative;
  display: flex;
  width: 11.5rem;
  height: 2.125rem;
  border: 0.125rem solid $gray-86;
  border-radius: 2.125rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: white;
    }

    &:focus + .slider {
      box-shadow: 0 0 0.0625rem white;
    }
  }

  .labelText {
    position: relative;
    top: 65%;
    transform: translateY(-50%);
    z-index: 1;
    width: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 6rem;
    left: 0.3125rem;
    bottom: 0.25rem;
    background-color: $green;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2.125rem;
    color: white;
  }

  &.round {
    border-radius: 2.125rem;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(4.9rem);
  -ms-transform: translateX(4.9rem);
  transform: translateX(4.9rem);
}
