@import 'src/color';
@import 'src/mixins';

.sidebar {
  &Container {
    padding: 1rem;
    background-color: $bg-dark;
    height: auto;
    width: 15%;
  }
  &Btn {
    //margin: 3rem 0;
    color: white;
    background: $green;
    border: none;
    cursor: pointer;
    border-radius: 1.25rem;
    height: 2.25rem;
    width: 100%;
    font-size: 1rem;
    position: sticky;
    top: 2rem;
    &::before {
      content: "+";
      display: none;
    }
  }
}

@include responsive(md) {
  .sidebar {
    &Container {
      width: 3.75rem;
    }
    &Btn {
      border-radius: 1.5rem;
      height: 2.25rem;
      width: 2.25rem;
      &::before {
        display: block;
        font-size: 2rem;
      }
      span {
        display: none;
      }
    }
  }
}
